openapi: 3.0.3
info:
  title: BYG-ERFA Dictionary API
  version: 1.0.0
  description: |
    The BYG-ERFA Dictionary API provides access to a Danish construction terminology dictionary
    with over 1,983 technical building terms. The API is powered by Drupal 10 with Search API
    and Views modules.

    **Features:**
    - Autocomplete search for dictionary terms
    - Paginated search results
    - AJAX-based pagination
    - No authentication required

    **Base URL:** `https://byg-erfa.dk`

  contact:
    name: BYG-ERFA Support
    email: info@byg-erfa.dk
    url: https://byg-erfa.dk/kontakt
  license:
    name: Proprietary
    url: https://byg-erfa.dk/handelsbetingelser

servers:
  - url: https://byg-erfa.dk
    description: Production server

tags:
  - name: Autocomplete
    description: Search autocomplete endpoints
  - name: Dictionary
    description: Dictionary search and pagination endpoints

paths:
  /search_api_autocomplete/dictionary:
    get:
      summary: Get autocomplete suggestions
      description: |
        Returns autocomplete suggestions for dictionary search terms. This endpoint provides
        real-time suggestions as users type in the search box.

        The response includes:
        - Dictionary terms matching the search query
        - Suggested search phrases
        - A link to view all results
      operationId: getAutocompleteSuggestions
      tags:
        - Autocomplete
      parameters:
        - name: q
          in: query
          required: true
          description: The search query string (minimum 1 character)
          schema:
            type: string
            minLength: 1
            example: tag
        - name: display
          in: query
          required: true
          description: The display mode (typically 'page_1')
          schema:
            type: string
            enum: [page_1]
            default: page_1
        - name: filter
          in: query
          required: true
          description: The filter type (typically 'phrases')
          schema:
            type: string
            enum: [phrases]
            default: phrases
      responses:
        '200':
          description: Successful response with autocomplete suggestions
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            X-Generator:
              schema:
                type: string
                example: Drupal 10 (https://www.drupal.org)
            Content-Language:
              schema:
                type: string
                example: da
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AutocompleteResult'
              examples:
                tagSearch:
                  summary: Search for 'tag'
                  value:
                    - value: "Brudt tag"
                      url: "/ordbog/brudt-tag"
                      label: "<div class=\"search-api-autocomplete-suggestion\">...</div>"
                    - value: "Built-up tag"
                      url: "/ordbog/built-tag"
                      label: "<div class=\"search-api-autocomplete-suggestion\">...</div>"
                    - value: "tag"
                      label: "<div class=\"search-api-autocomplete-suggestion\">...</div>"
                    - value: "Se flere resultater"
                      url: "/ordbog?phrases=tag"
                      label: "<div class=\"button-wrapper\">...</div>"
        '304':
          description: Not Modified (cached response)

  /views/ajax:
    get:
      summary: Get paginated dictionary results
      description: |
        Drupal Views AJAX endpoint for loading additional dictionary results. This endpoint
        is used for infinite scroll pagination when clicking "VIS FLERE" (Show More).

        The response is a Drupal AJAX command array that includes:
        - HTML content to insert
        - Settings updates
        - Scroll commands
      operationId: getDictionaryPagination
      tags:
        - Dictionary
      parameters:
        - name: phrases
          in: query
          required: true
          description: The search phrase to filter results
          schema:
            type: string
            example: tag
        - name: view_name
          in: query
          required: true
          description: The Drupal view machine name
          schema:
            type: string
            enum: [dictionary]
            default: dictionary
        - name: view_display_id
          in: query
          required: true
          description: The view display ID
          schema:
            type: string
            enum: [page_1]
            default: page_1
        - name: view_path
          in: query
          required: true
          description: The view path
          schema:
            type: string
            example: /ordbog
        - name: view_base_path
          in: query
          required: true
          description: The view base path
          schema:
            type: string
            example: ordbog
        - name: view_dom_id
          in: query
          required: true
          description: The DOM ID for the view container
          schema:
            type: string
            example: 077634aa843357e816ee9fba8ac397b8e7c5fe76e4e6a159e31efae5f9a35cdd
        - name: pager_element
          in: query
          required: true
          description: The pager element index
          schema:
            type: integer
            default: 0
        - name: page
          in: query
          required: true
          description: The page number to load (0-indexed)
          schema:
            type: string
            example: "1#page-1"
        - name: _wrapper_format
          in: query
          required: true
          description: The wrapper format
          schema:
            type: string
            enum: [drupal_ajax]
            default: drupal_ajax
        - name: _drupal_ajax
          in: query
          required: true
          description: Flag indicating this is a Drupal AJAX request
          schema:
            type: integer
            enum: [1]
            default: 1
        - name: view_args
          in: query
          description: Additional view arguments
          schema:
            type: string
            default: ""
        - name: ajax_page_state[theme]
          in: query
          required: true
          description: The current theme
          schema:
            type: string
            example: bygerfa_make
        - name: ajax_page_state[theme_token]
          in: query
          description: Theme security token
          schema:
            type: string
            default: ""
        - name: ajax_page_state[libraries]
          in: query
          required: true
          description: Encoded list of loaded JavaScript libraries
          schema:
            type: string
      responses:
        '200':
          description: Successful AJAX response with Drupal commands
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            X-Drupal-Ajax-Token:
              schema:
                type: string
                example: "1"
            X-Generator:
              schema:
                type: string
                example: Drupal 10 (https://www.drupal.org)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DrupalAjaxCommand'

  /ordbog:
    get:
      summary: Dictionary listing page
      description: |
        The main dictionary page that lists all terms or filtered results. This is a server-rendered
        HTML page, not an API endpoint, but it accepts query parameters for filtering.
      operationId: getDictionaryPage
      tags:
        - Dictionary
      parameters:
        - name: phrases
          in: query
          description: Search phrase to filter dictionary terms
          schema:
            type: string
            example: tag
        - name: page
          in: query
          description: Page number for pagination (0-indexed)
          schema:
            type: integer
            example: 0
      responses:
        '200':
          description: HTML page with dictionary listing
          content:
            text/html:
              schema:
                type: string

  /ordbog/{term-slug}:
    get:
      summary: Get dictionary term details
      description: |
        Server-rendered detail page for a specific dictionary term. Returns HTML content
        with the term definition, description, and related information.
      operationId: getDictionaryTerm
      tags:
        - Dictionary
      parameters:
        - name: term-slug
          in: path
          required: true
          description: The URL slug of the dictionary term
          schema:
            type: string
            example: built-tag
      responses:
        '200':
          description: HTML page with term details
          content:
            text/html:
              schema:
                type: string
        '404':
          description: Term not found

components:
  schemas:
    AutocompleteResult:
      type: object
      description: An autocomplete suggestion result
      properties:
        value:
          type: string
          description: The suggested value/term
          example: "Built-up tag"
        url:
          type: string
          description: The URL path to the term detail page (optional)
          example: "/ordbog/built-tag"
        label:
          type: string
          description: HTML markup for displaying the suggestion
          example: "<div class=\"search-api-autocomplete-suggestion\">...</div>"
      required:
        - value
        - label

    DrupalAjaxCommand:
      type: object
      description: A Drupal AJAX command object
      properties:
        command:
          type: string
          description: The command type
          enum:
            - settings
            - scrollTop
            - insert
          example: insert
        method:
          type: string
          description: The method for insert commands
          enum:
            - replaceWith
            - prepend
            - append
          example: replaceWith
        selector:
          type: string
          description: CSS selector for the target element
          example: ".js-view-dom-id-077634aa843357e816ee9fba8ac397b8e7c5fe76e4e6a159e31efae5f9a35cdd"
        data:
          type: string
          description: HTML data to insert
        settings:
          type: object
          description: Drupal settings object
          additionalProperties: true
        merge:
          type: boolean
          description: Whether to merge settings
      required:
        - command

  securitySchemes: {}

security: []
